.container-block {
    padding-top: 64px !important;
    height: 100%;
    background: url(../image/flexi/left.png) top 100px left 0 no-repeat,url(../image/flexi/right.png) 100% 100% no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-color: #18191c;
    overflow: auto;
    color: white;
}
.container-block h2{
    margin-top: auto;
    margin-bottom: 0;
    text-align: center;
}
.flex-container {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    background-size: cover;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
} 
.flex-container > div {
    margin-bottom: 60px;
    width: 353.333px;
    height: 213px;
    margin: 10px;
    font-weight: 400;
    line-height: 18.4px;

}
.flex-container img {
    float: left;
    margin: 10px;
    height: 100px;
    width: 100px;
}
.flex-container h3 {
    position: relative;
    font-size: 22px;
    line-height: unset;
}
.flex-container p {
    float: inline-end;
    font-size: 14px;
    color: #c7ccd1;
}
.flex-container p.whatis {
    float: left;
    color: #c7ccd1;
    margin: 10px;
}
.flex-container a {
    color: #fff6;
    font-style: italic;
    font-size: 14px;
    text-decoration: none;
}
.flex-container a:hover {
    color: #ffffffc7;
}
.flex-container  a:active {
    color: #fff;
}
.triden {
    padding-top: 50px !important;
    height: 100%;
    background-color: #18191c;
    color: white;
    text-align: center;
}
.triden .prlxx {
    top: 15%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 40%;
    background-image: url("../image/bl.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f8f9fd;
    box-shadow: 10px 10px #888888;
    color: black;
    padding: 10px 10px;
    z-index: 0;
}
.triden .prlxx h2 {
    font-size: 1.5em;
    color: #111;
    background: #fff;
    font-weight: 300;
    padding: 5px 20px;
    display: inline-block;
    text-align: center;
}
.triden .prlxx .set {
    padding: 10px 10px;
}
.triden .auth {
    float: left;
    width: 259px; 
    height: 259px; 
    border-radius: 50%;
}
.triden p.ddd3d {
    position: relative;
    color: #111;
    background: #fff;
    font-weight: 300;
    padding: 5px 20px;
    text-align: center;
    z-index: -1;
}
.flip-card {
    background-color: transparent;
    float: left;
    width: 259px;
    height: 259px;
    padding: 10px 10px;
    perspective: 1000px;
} 
.flip-card-inner {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius: 50%;
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
  } 
.flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 50%;
}
.flip-card-back {
    background-color: #6699ff;
    color: white;
    transform: rotateY(180deg);
    border-radius: 50%;
 }
 .triden .prlxx .socialNetworkNavBar{
     position: relative;
 }
 .socialNetworkNavBar {
	text-align: center;
	display: block;
}
.socialNetworkNavBar .socialNetworkNav {
    display: inline-block;
	margin-right: 23px;
}
.socialNetworkNavBar .socialNetworkNav img {
    width: 50px;
    border-radius: 50%;
}

.zeus {
    padding-top: 50px !important;
    height: 100%;
    background: -webkit-linear-gradient(0deg, #f8f9fd 50%, #18191c 50%);
    background: -o-linear-gradient(0deg, #f8f9fd 50%, #18191c 50%);
    background: -moz-linear-gradient(0deg, #f8f9fd 50%, #18191c 50%);
    background: linear-gradient(0deg, #f8f9fd 50%, #18191c 50%);
}
.zeus h2 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
    padding: 5px 20px;
    text-align: center;
}
.zeus img {
    width: 100%;
    max-height: 500px;
    border: 4px solid #18191c;
}
.lat000 {
    padding-top: 50px !important;
    height: 100%;
    background-color: #f8f9fd;
    color: #18191c;
}
.lat000 h2 {
    font-size: 1.5em;
    font-weight: 300;
    padding: 5px 20px;
    text-align: center;
}
.lat000 iframe {
    width: 80%;
    height: 500px; 
    border: 0;
}
.lat000 p {
    font-style: italic;
}
.lat000 .cntr {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.dayamon {
    height: 100%;
    padding-top: 50px !important;
    background-color: #18191c;
    color: white;
}
.dayamon h2 {
    font-size: 1.5em;
    font-weight: 300;
    padding: 5px 20px;
    text-align: center;
}
.dayamon .floati {
    width: 50%;
    height: 80%;
    background-color: whitesmoke;
}
footer {
    bottom: 0;
    background-color: #18191c;
    color: white;
    font-size: 1em;
    font-weight: 300;
    padding: 5px 20px;
    text-align: center;
}

@media only screen and (min-width : 285px) and (max-width : 480px) {
    .triden .prlxx {top: 0; height: auto;}
    .zeus h2 {margin-top: 250px;}
    .zeus img {margin-top: 100px;}
    .flip-card {
        background-color: transparent;
        width: 259px;
        height: 259px;
        perspective: 1000px;
        border-radius: 50%;
    }
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 50%;
    }
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
        border-radius: 50%;
    }
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 50%;
    }
    .flip-card-front {
        background-color: #bbb;
        color: black;
        border-radius: 50%;
    }
    .flip-card-back {
        background-color: #6699ff;
        color: white;
        transform: rotateY(180deg);
        border-radius: 50%;
    }
}